<div class="card marketplace-card-block">
    <div class="card-header">
      <span class="flex align-items-center">
        <img style="margin: 8px" src="../../../../../assets/fund-manager.svg" />
        Fund Manager
      </span>
      <span style="position: absolute; right: 3%; top: 15%"
        ><p-button
          label="Add New" [routerLink]="['/app/marketplace/funds-add']"
          class="common-bg-color common-button-radius"
        ></p-button
      ></span>
    </div>
    <div class="common-table-style">
    <p-table
      [value]="summury"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rows]="3"
      [showFirstLastIcon]="false"
      [paginator]="true"
      id="resposive-tab-view-style-summary"
    >
      <ng-template pTemplate="header">
        <tr class="desktop-view-login">
          <th class="signal-provider-table-head">Rank<p-sortIcon></p-sortIcon></th>
          <th class="signal-provider-table-head">Account name<p-sortIcon icon="pi pi-fw pi-sort"></p-sortIcon></th>
          <!-- <th>Balance <p-sortIcon></p-sortIcon></th> -->
          <th class="signal-provider-table-head">Market <p-sortIcon></p-sortIcon></th>
          <th class="signal-provider-table-head">Broker <p-sortIcon></p-sortIcon></th>
          <th class="signal-provider-table-head">Assets <p-sortIcon></p-sortIcon></th>
          <th class="signal-provider-table-head">Strategy <p-sortIcon></p-sortIcon></th>
          <th class="signal-provider-table-head">Avg Performance<p-sortIcon></p-sortIcon></th>
          <th class="signal-provider-table-head">Access <p-sortIcon></p-sortIcon></th>
          <th class="signal-provider-table-head">KYC <p-sortIcon></p-sortIcon></th>
          <th class="signal-provider-table-head">Rewards <p-sortIcon></p-sortIcon></th>
          <th class="signal-provider-table-head">Risks <p-sortIcon></p-sortIcon></th>
          <th class="signal-provider-table-head">Subcriber Count <p-sortIcon></p-sortIcon></th>
          <th class="signal-provider-table-head">Subcriber Fees <p-sortIcon></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tableData>
        <tr [routerLink]="['/app/marketplace/fund-manager-details']">
          <td class="display-flex-dir-row-responsive display-none-desktop">
            <div>
              <img style="width:20px" src="../../../../../assets/bnb.png" />
            </div>
             <span class="market-color">{{ tableData.market }}</span>
          </td>
          <td class="text-center desktop-view-login">{{ tableData.rank }}</td>
          <td class="text-center display-flex-dir-col-responsive">{{ tableData.telegramusername }} <label class="display-none-desktop text-gradient-color" for="">Rank {{ tableData.rank }}</label></td>
          <td class="text-center desktop-view-login">{{ tableData.market }}</td>

          <td class="text-center desktop-view-login">
            <div>
              <img style="width: 20px" src="../../../../../assets/bnb.png" />
            </div>
          </td>
          <td class="text-center for-responsive-view"><label for="Assets">Assets</label>{{ tableData.Assets }}</td>
          <td class="text-center for-responsive-view"><label for="Strategy">Strategy</label>{{ tableData.Strategy }}</td>
          <td class="text-center for-responsive-view"><label for="Assets">Assets</label>{{ tableData.AvgPerformance }}</td>
          <td class="text-center for-responsive-view"><label for="Access">Access</label>{{ tableData.Access }}</td>
          <td class="text-center for-responsive-view"><label for="KYC">KYC</label>{{ tableData.kyc }}</td>
          <td class="text-center for-responsive-view"><label for="Rewards">Rewards</label>{{ tableData.Rewards }}</td>
          <td class="text-center for-responsive-view"><label for="Risks">Risks</label>{{ tableData.Risks }}</td>
          <td class="text-center for-responsive-view"><label for="Assets">Subscriber</label>{{ tableData.Subscribercount }}</td>
          <td class="text-center for-responsive-view"><label for="Assets">Fees</label>{{ tableData.Subcriberfess }}</td>
        </tr>
      </ng-template>
    </p-table>
    </div>
  </div>

  <!-- Funds End-->
