$body-bg: #171717;
$input-bg: #111B38;;
$input-disabled-bg: #111B38;;
$input-border-color: #5C6276;
$input-color: #FFFFFF;;
$input-border-width: 1px;
$input-focus-bg: 0px 2px 8px 4px rgba(15, 168, 255, 0.17);;
$input-focus-border-color: #3C71FB;;
$input-placeholder-color: rgba(255, 255, 255, 0.4);
$jumbotron-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07)), linear-gradient(179.83deg, rgba(255, 255, 255, 0.1) -7.73%, rgba(12, 25, 58, 0.1) 119.55%);;
$body-color: #FFFFFF;