<div class="grid pt-3 pr-2 pl-2 common-responsive-card-style-inner">
  <div class="col-12 head-bg p-3">
    <label class="card-head-api">Brokers API Management</label>
  </div>
  <div class="col-12 content-bg">
    <div class="grid grid-nogutter">
      <div class="col-12 flex align-items-center justify-content-between flex-wrap">
        <div class="col-12 md:col-12">
          <label class="form-label display-none-responsive">Stock Exchange</label>
          <input pInputText placeholder="Stock Exchange">
        </div>
        <div class="col-12 md:col-12">
          <div>
            <label class="form-label display-none-responsive">Secret key</label>
          </div>
          <div>
            <input pInputText placeholder="Secret key">
          </div>
        </div>
        <div class="col-12 md:col-12">
          <div>
            <label class="form-label display-none-responsive">Nickname</label>
          </div>
          <div>
            <input pInputText placeholder="Nickname">
          </div>
        </div>
        <div class="col-12">
          <div>
            <label class="form-label display-none-responsive">API key</label>
          </div>
          <div>
            <input pInputText placeholder="API key">
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-content-end justify-content-center-responsive mt-2 mb-2">
      <p-button class="common-bg-color common-button-radius" label="Save New Key"></p-button>
    </div>


    <div class="grid mt-4">
      <div class="col-12 md:col-12">
        <div class="api-card p-3">
          <div class="grid">
            <div class="col-6">
              <label class="api-head-lbl">Stock Exchange</label>
            </div>
            <div class="col-6">
              <label class="api-head-lbl">Secure key</label>
            </div>

            <div class="col-6">
              <label class="api-data-lbl">Binance</label>
            </div>
            <div class="col-6">
              <label class="api-data-lbl">Secure key <span class=""><img src="../../../../../assets/eye.svg"></span></label>
            </div>

            <div class="col-6">
              <label class="api-head-lbl">Nickname</label>
            </div>
            <div class="col-6">
              <label class="api-head-lbl">API key <span class=""><img src="../../../../../assets/alert.png"></span></label>
            </div>

            <div class="col-6">
              <label class="api-data-lbl">BiChiplunkar</label>
            </div>
            <div class="col-6">
              <label class="api-data-lbl">Secure key <span class=""><img src="../../../../../assets/eye.svg"></span></label>
              <!-- <input [type]="type" class="input-api-key" value="1111111" [disabled]="true"/>
              <span (click)="changePassView()"><img src="../../../../../assets/eye.svg"></span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-12">
        <div class="api-card p-3">
          <div class="grid">
            <div class="col-6">
              <label class="api-head-lbl">Stock Exchange</label>
            </div>
            <div class="col-6">
              <label class="api-head-lbl">Secure key</label>
            </div>

            <div class="col-6">
              <label class="api-data-lbl">Binance</label>
            </div>
            <div class="col-6">
              <label class="api-data-lbl">Secure key <span class=""><img src="../../../../../assets/eye.svg"></span></label>
            </div>

            <div class="col-6">
              <label class="api-head-lbl">Nickname</label>
            </div>
            <div class="col-6">
              <label class="api-head-lbl">API key <span class=""><img src="../../../../../assets/alert.png"></span></label>
            </div>

            <div class="col-6">
              <label class="api-data-lbl">BiChiplunkar</label>
            </div>
            <div class="col-6">
              <label class="api-data-lbl">Secure key <span class=""><img src="../../../../../assets/eye.svg"></span></label>
              <!-- <input [type]="type" class="input-api-key" value="1111111" [disabled]="true"/>
              <span (click)="changePassView()"><img src="../../../../../assets/eye.svg"></span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-12">
        <div class="api-card p-3">
          <div class="grid">
            <div class="col-6">
              <label class="api-head-lbl">Stock Exchange</label>
            </div>
            <div class="col-6">
              <label class="api-head-lbl">Secure key</label>
            </div>

            <div class="col-6">
              <label class="api-data-lbl">Binance</label>
            </div>
            <div class="col-6">
              <label class="api-data-lbl">Secure key <span class=""><img src="../../../../../assets/eye.svg"></span></label>
            </div>

            <div class="col-6">
              <label class="api-head-lbl">Nickname</label>
            </div>
            <div class="col-6">
              <label class="api-head-lbl">API key <span class=""><img src="../../../../../assets/alert.png"></span></label>
            </div>

            <div class="col-6">
              <label class="api-data-lbl">BiChiplunkar</label>
            </div>
            <div class="col-6">
              <label class="api-data-lbl">Secure key <span class=""><img src="../../../../../assets/eye.svg"></span></label>
              <!-- <input [type]="type" class="input-api-key" value="1111111" [disabled]="true"/>
              <span (click)="changePassView()"><img src="../../../../../assets/eye.svg"></span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-12">
        <div class="api-card p-3">
          <div class="grid">
            <div class="col-6">
              <label class="api-head-lbl">Stock Exchange</label>
            </div>
            <div class="col-6">
              <label class="api-head-lbl">Secure key</label>
            </div>

            <div class="col-6">
              <label class="api-data-lbl">Binance</label>
            </div>
            <div class="col-6">
              <label class="api-data-lbl">Secure key <span class=""><img src="../../../../../assets/eye.svg"></span></label>
            </div>

            <div class="col-6">
              <label class="api-head-lbl">Nickname</label>
            </div>
            <div class="col-6">
              <label class="api-head-lbl">API key <span class=""><img src="../../../../../assets/alert.png"></span></label>
            </div>

            <div class="col-6">
              <label class="api-data-lbl">BiChiplunkar</label>
            </div>
            <div class="col-6">
              <label class="api-data-lbl">Secure key <span class=""><img src="../../../../../assets/eye.svg"></span></label>
              <!-- <input [type]="type" class="input-api-key" value="1111111" [disabled]="true"/>
              <span (click)="changePassView()"><img src="../../../../../assets/eye.svg"></span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
